:root {
    --primary-color: #3a3a3a;
    --secondary-color: #e63946;
    --text-color: #ffffff;
    --hover-move: -2px;
    --click-color: #ff4d4d;
    --font-family: 'Arial', sans-serif;
}

body {
    margin: 0;
    font-family: var(--font-family);
    background-color: #1e1e1e;
    color: var(--text-color);
}

/* -------------- */
/* HEADER SECTION */
/* -------------- */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
    position: relative;
}

.menu-toggle {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
}

.bar {
    width: 30px;
    height: 4px;
    background-color: var(--text-color);
    margin: 3px 0;
    transition: 0.4s;
}

/* -------------- */
/* NAVBAR STYLES */
/* ------------ */

.navbar {
    display: none;
}

.navbar.active {
    display: block;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
    animation: glideIn 0.4s forwards;
}

@keyframes glideIn {
    from {
        transform: translateY(-20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.navbar ul {
    list-style: none;
    padding: 0;
}

.navbar ul li {
    padding: 10px;
}

.navbar ul li a {
    text-decoration: none;
    color: var(--text-color);
    transition: transform 0.2s ease, color 0.2s ease;
}

.navbar ul li a:hover {
    color: var(--secondary-color);
}

.navbar ul li a:active {
    color: var(--click-color);
}

.menu-toggle.active .bar {
    background-color: var(--secondary-color);
}

.menu-toggle.active .bar:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.menu-toggle.active .bar:nth-child(2) {
    opacity: 0;
}

.menu-toggle.active .bar:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
}

/* -------------- */
/* INDEX SECTION */
/* ------------ */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*Ensure main will not be overlapped by footer*/
    margin-bottom: 60px;
    padding-bottom: 80px;
}

#welcome {
    margin-bottom: 20px;
    text-align: center;
}

#welcome img {
    width: 20em;
}

.featured-section {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    background-color: var(--text-color);
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: justify;
}

.featured-section h2 {
    text-align: center;
    color: var(--primary-color);
}

.featured-section h3, .featured-section p {
    color: var(--primary-color);
}

.featured-section h3 {
    padding: 20px;
}

.card-home {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #edf0f3;
}

.card-home:last-child {
    border-bottom: none;
}

/* ----------- */
/* MATCH PAGE */
/* --------- */
#opponents {
    display: flex;
    align-items: center; /* Align elements within the container */
    justify-content: center; /* Center content at x axis */
    margin: 20px 0;
}

#opponents a {
    margin: 0 10px; /* Space between teams logos articles */
    text-decoration: none;
}

#opponents>p{
    margin-inline: 10px;
}

#opponents>article>a>img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
}

#opponents a:hover img {
    transform: scale(1.05);
    transition: transform 0.3s;
}

#opponents>article>a>p{
    color: var(--text-color);
    text-align: center;
    margin: 5%;
}

#matchInfo{
    background-color: var(--primary-color);
    padding: 2%;
}

#matchInfo h2{
    text-align: center;
}

#matchInfo ul{
    list-style: none;
    padding: 5%;
    margin: 20px 0;
    text-align: center;
}

#matchInfo li {
    padding: 5px 0; /* Space between elements from the list */
    color: var(--text-color);
}

/* ------------ */
/* PLAYER PAGE */
/* ---------- */
#topPlayerPage>#player-image {
    width: 150px;
    border-radius: 50%; /* Force image radius shape */
    display: block;
    margin: 20px auto; /* Center image */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#playerInfo {
    background-color: var(--primary-color);
    padding: 20px;
    margin: 20px auto;
    border-radius: 8px;
    max-width: 400px;
    color: var(--text-color);
    text-align: center;
}

#playerInfo h2 {
    color: var(--text-color);
    margin: 10px;
}

#playerInfo ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#playerInfo li {
    margin: 8px 0; /* Space betweeen list elements */
    font-size: 1em;
}

#playerInfo li a {
    color: var(--text-color);
    text-decoration: none;
    transition: color 0.2s ease;
}

#playerInfo li a:hover {
    color: var(--click-color);
}

/* ---------- */
/* TEAM PAGE */
/* -------- */
#topTeamPage {
    background-color: var(--primary-color);
    padding: 20px;
    margin: 20px auto;
    border-radius: 8px;
    max-width: 600px;
    color: var(--text-color);
    text-align: center;
}

#team-image {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#topTeamPage h2 {
    color: var(--text-color);
    margin-bottom: 10px;
}

#topTeamPage ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#topTeamPage li {
    margin: 8px 0;
}

#teamPlayers {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 15px;
    max-width: 80%;
    text-align: center;
}

#teamPlayers a{
    text-decoration: none;
}

#teamPlayers h2 {
    grid-column: span 5;
    color: var(--text-color);
    margin-bottom: 20px;
}

#teamPlayers article {
    background-color: var(--secondary-color);
    padding: 15px;
    border-radius: 8px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#teamPlayers article:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

#teamPlayers img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s;
}

#teamPlayers img:hover {
    transform: scale(1.1);
}

#teamPlayers p {
    color: var(--text-color);
    margin: 5px 0;
    font-size: 0.9em;
}

/* -------------------- */
/* BROWSE PAGES SLIDER */
/* ------------------ */

.slider-container {
    position: relative;
    overflow: hidden; /* Hide elements out of scope from focus element at slider */
    width: 100%;
}

.slider-container a {
    text-decoration: none;
    color: var(--text-color);
}

.slider {
    display: flex;
    transition: transform 0.5s ease; /* Soften transition */
}

.slider-container > .slider > article {
    flex: 0 0 100%;
    display: flex;
    justify-content: center;
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%); /* Center at AXIS Y the arrows */
    background: rgba(255, 255, 255, 0.7); /* Background semitransparent */
    border: none;
    cursor: pointer;
    padding: 10px; /* Internal space */
    z-index: 10;
}

.left-arrow {
    left: 10px;
}

.right-arrow {
    right: 10px;
}

/* ------------- */
/* MATCHES PAGE */
/* ----------- */

.matches{
    width: 40%;
}

.matches h1{
    text-align: center;
}

.matches p{
    padding-inline: 10px;
}

.match {
    display: flex;
    align-items: center;
    justify-content: center; /* Center content at slider */
    width: 100%;
}

.team-logo {
    width: 50px;
    height: auto;
}

.score {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    flex: 1; /* Allow result to take remaining space */
}

/* ------------- */
/* PLAYERS PAGE */
/* ----------- */
.players{
    width: 40%;
}
.players h1{
    text-align: center;
}
.players article {
    display: flex;
    flex-direction: column; /* Align elements in the column */
    align-items: center;
    text-align: center;
}

.players article img {
    width: 150px;
    height: 150px; /* Mantain square prooportions */
    border-radius: 50%; /* Force shape to be rounded */
    object-fit: cover; /* Enforce image to have same proportion */
    margin-bottom: 10px; /* Space between image and name */
}

.players>.player-fullname {
    color: var(--text-color);
}

/* ------------- */
/* TEAMS PAGE */
/* ----------- */
.teams h1{
    text-align: center;
}

.teams{
    width: 40%;
}

.teams article {
    display: flex;
    flex-direction: column; /* Align elements in the column */
    align-items: center; /* Center at X axis */
    text-align: center;
}

.teams article img {
    width: 150px;
    height: 150px;
    border-radius: 50%; 
    object-fit: cover; 
    margin-bottom: 10px;
}

.teams>.team-fullname {
    color: var(--text-color);
}

/* -------------- */
/* FOOTER SECTION */
/* -------------- */
footer {
    text-align: center;
    position: fixed; /* Force footer to remain in the bottom */
    width: 100%;
    padding: 10px;
    background: linear-gradient(to top, #f8f8f8, #e8e8e8);
    border-top: 1px solid #ccc;
    color: #333;
    bottom: 0;
}

footer p{
	margin: 10px;
}

footer p img{
	max-height: 2.5em;
	vertical-align: middle;
	display: inline-block;
}