:root {
    --primary-color: #3a3a3a; /* Color principal */
    --secondary-color: #e63946; /* Color secundario */
    --text-color: #ffffff; /* Color del texto */
    --hover-move: -2px; /* Desplazamiento al hacer hover */
    --click-color: #ff4d4d; /* Color al hacer clic */
    --font-family: 'Arial', sans-serif; /* Fuente general */
}

body {
    margin: 0;
    font-family: var(--font-family);
    background-color: #1e1e1e;
    color: var(--text-color);
}

/* -------------- */
/* HEADER SECTION */
/* -------------- */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
    position: relative;
}

.menu-toggle {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
}

.bar {
    width: 30px;
    height: 4px;
    background-color: var(--text-color);
    margin: 3px 0;
    transition: 0.4s;
}

/* -------------- */
/* NAVBAR STYLES */
/* ------------ */

.navbar {
    display: none;
}

.navbar.active {
    display: block;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
    animation: glideIn 0.4s forwards;
}

@keyframes glideIn {
    from {
        transform: translateY(-20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.navbar ul {
    list-style: none;
    padding: 0;
}

.navbar ul li {
    padding: 10px;
}

.navbar ul li a {
    text-decoration: none;
    color: var(--text-color);
    transition: transform 0.2s ease, color 0.2s ease;
}

.navbar ul li a:hover {
    color: var(--secondary-color);
}

.navbar ul li a:active {
    color: var(--click-color);
}

.menu-toggle.active .bar {
    background-color: var(--secondary-color);
}

.menu-toggle.active .bar:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.menu-toggle.active .bar:nth-child(2) {
    opacity: 0;
}

.menu-toggle.active .bar:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
}

/* -------------- */
/* INDEX SECTION */
/* ------------ */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
}

#welcome {
    margin-bottom: 20px;
    text-align: center;
}

#welcome img {
    width: 20em;
}

.featured-section {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    background-color: var(--text-color);
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: justify;
}

.featured-section h2 {
    text-align: center;
    color: var(--primary-color);
}

.featured-section h3, .featured-section p {
    color: var(--primary-color);
}

.featured-section h3 {
    padding: 20px;
}

.card-home {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #edf0f3;
}

.card-home:last-child {
    border-bottom: none;
}

/* ----------- */
/* MATCH PAGE */
/* --------- */
#opponents {
    display: flex;
    align-items: center; /* Alinea los elementos del contenedor */
    justify-content: center; /* Centra horizontalmente el contenido */
    margin: 20px 0; /* Espacio superior e inferior */
}

#opponents a {
    margin: 0 10px; /* Espacio entre los logos de los equipos */
    text-decoration: none;
}

#opponents>p{
    margin-inline: 10px;
}

#opponents>article>a>img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#opponents a:hover img {
    transform: scale(1.05);
    transition: transform 0.3s;
}

#opponents>article>a>p{
    color: var(--text-color);
    text-align: center;
    margin: 5%;
}

#matchInfo{
    background-color: var(--primary-color); /* Color de fondo de la lista */
    padding: 2%; /* Eliminar padding */
}

#matchInfo ul{
    list-style: none; /* Eliminar estilo de lista */
    padding: 5%; /* Eliminar padding */
    margin: 20px 0; /* Espacio superior e inferior */
    text-align: center; /* Centrar el texto */
}

#matchInfo li {
    padding: 5px 0; /* Espacio entre los elementos de la lista */
    color: var(--text-color); /* Color del texto de la lista */
}

/* ------------ */
/* PLAYER PAGE */
/* ---------- */
#topPlayerPage>#player-image {
    width: 150px; /* Ajuste de tamaño de la imagen */
    border-radius: 50%; /* Imagen circular */
    display: block;
    margin: 20px auto; /* Centrando la imagen */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#playerInfo {
    background-color: var(--primary-color);
    padding: 20px;
    margin: 20px auto;
    border-radius: 8px;
    max-width: 400px; /* Ancho máximo para centrar la sección */
    color: var(--text-color); /* Texto en color claro */
    text-align: center;
}

#playerInfo h2 {
    color: var(--text-color); /* Color del título */
    margin: 10px;
}

#playerInfo ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#playerInfo li {
    margin: 8px 0; /* Espacio entre elementos de la lista */
    font-size: 1em;
}

#playerInfo li a {
    color: var(--text-color); /* Color del título */
    text-decoration: none;
    transition: color 0.2s ease;
}

#playerInfo li a:hover {
    color: var(--click-color); /* Color al hacer hover */
}

/* ---------- */
/* TEAM PAGE */
/* -------- */
#topTeamPage {
    background-color: var(--primary-color);
    padding: 20px;
    margin: 20px auto;
    border-radius: 8px;
    max-width: 600px;
    color: var(--text-color);
    text-align: center;
}

#team-image {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#topTeamPage h2 {
    color: var(--text-color);
    margin-bottom: 10px;
}

#topTeamPage ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#topTeamPage li {
    margin: 8px 0;
}

#teamPlayers {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 15px;
    max-width: 80%;
    text-align: center;
}

#teamPlayers a{
    text-decoration: none;
}

#teamPlayers h2 {
    grid-column: span 5;
    color: var(--text-color);
    margin-bottom: 20px;
}

#teamPlayers article {
    background-color: var(--secondary-color);
    padding: 15px;
    border-radius: 8px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#teamPlayers article:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

#teamPlayers img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#teamPlayers p {
    color: var(--text-color);
    margin: 5px 0;
    font-size: 0.9em;
}

/* -------------- */
/* FOOTER SECTION */
/* -------------- */
footer {
    text-align: center;
    position: fixed; /* Hace que el footer esté siempre al fondo */
    width: 100%;
    padding: 10px;
    background-color: #f8f8f8;
    border-top: 1px solid #ccc;
    color: #333;
    bottom: 0;
}